.header{
    max-width: 100%;
}

.header-nav{
    width: 100%;
    min-height: 342px;
    background-color: #212429;
}

.header-nav-top{
    width: 93.406%;
    margin: 0px auto;
}


.header-image{
    position: relative;
    max-width: 93.406%;
    height: auto;
    margin: 0px auto;
    margin-top: -300px;
}

.header-image img{
    max-width: 100%;
    height: auto;
}


.text-section{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
}

.image-content-left{
    color: #fff;
    float: left;
    position: absolute;
    top: 50%;
    left: 6.535%;
    max-width: 40%;
    height: auto;
}

.image-content-right{
    float: right;
    position: absolute;
    color: #fff;
    top: 28.125%;
    right: 0%; 
    height: 100%
}

.body{
    background-color: #f9f9fb;
    max-width: 100%;
    height: auto;
}

.body-wrapper{
    max-width: 93.406%;
    height: auto;
    margin: 0px auto;
}

.main-body-wrapper{
    max-width: 100%;
    height: auto;
}

.newsletter{
    padding: 20px;
    max-width: 100%;
}

.post-section{
    max-width: 100%;
}

.post{
    max-width: 100%;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

 .post-image-left{
    float: left; 
    max-width: 34.27%;
}

.post-image-mid{
    align-items: center;
    float: left;
    max-width: 31.46%;
    padding: 0px 1px;
}

.post-image-right{
    float: right; 
    max-width: 34.27%;
}

.horizontal-line{
    height: 2px;
    width: 100%;
    background-color: #f2f2f4;
}

.post-bottom-nav{
    padding-top: 30px;
}

.post-bottom-nav-left{
    color : #999999;
}

.quotation-wrapper{
    position: relative;
    max-width: 100%;
    height: 100%;
    background-image: url("../images/quotation-background.jpg");
    text-align: center;
}

.quotation-wrapper-2{
    position: relative;
    text-align: center;
    min-height: 246px;
    background-color: black ;
}

.right-nav{
    max-width: 100%;
    background-color: #fff;
}

.search-wrapper{
    max-width: 83.33%;
    min-height: 50px;
    margin: 0px auto;
    padding: 50px 0px;
}

.search-input{
    position: relative;
    width: 83.33%;
    min-height: 100%;
    float: left;
    background-size: 100% 100%;
}


.right-nav-first , .right-nav-second , .social-media-icons{
    max-width: 83.33%;
    height: auto;
    margin: 0px auto;
    text-align: center;
}

.right-nav-second{
    padding-top: 40px;
}

.latest-post{
    padding: 30px 0px;
    width: 100%; 
}

.latest-post-content{
    min-width: 72.67%;
    height: auto;
    padding-left: 10px;
}

.latest-post-name{
    font-weight: bolder;
    height: auto;
    max-width: 89.54%;
}

.latest-post-info span{
    color : #c2c2c2;
}

.latest-post-info{
    padding-top: 18px;
}


.left-right-display{
   
    text-align: center;
    max-width: 83.33%;
    height: auto;
    margin: 0px auto;
    
}

.left-right-display img{
    max-width: 100%;
    height: auto;
}

.display-wrapper{
    width: 100%;
    min-height: 230px;
    display: inline;
    position: relative;
}

.join-fb{
    padding-top: 40px;
    text-align: center;
    max-width: 83.33%;
    height: auto;
    margin: 0px auto;
}

.footer{
    background-color: #212429;
    max-width: 100%;
}

.footer-wrapper{
    max-width: 95.23%;
    margin: 0px auto;
}

.footer-header{
    color: #fff;
    font-weight: 900;
}

.about-blog, .latest-tweets, .latest-comment, .follow-instagram{
    padding: 30px 0px;
}

.latest-tweets-account, .latest-comment-author{
    padding-top: 40px;
}

.latest-tweets-text , .latest-comment-comment{
    padding-top: 18px;
}

.instagram-post{
    padding-top: 40px;
}







