.menu-icon{
    max-width: 100%;
    height: auto;
}

.blog-logo{
    max-width: 100%;
    height: auto;
    padding: 16px 0px;
}

.social-icon-list{
    list-style-type: none;
}

.social-icon-list li{
    float: left;
}

.social-icon-list li img{
    margin: auto;
    padding : 9px 9px;
}

.image-content-left span{
    font-size: 12px;
    font-weight: bolder;

}

.header-image-banner{
    min-width: 100%;
    height: auto;
}

.main-text{
    font-weight: bolder;
    letter-spacing: 2px;
    word-spacing: 5px;
    font-size: 0.7em;
    padding-top: 23px;
}

.top-arrow{
    padding-left: 50px;
    padding-bottom: 10px;
    max-width: 100%;
    height: auto;
}

.bottom-arrow{
    padding-left: 50px;
    padding-top: 10px;
    max-width: 100%;
    height: auto;
}

.newsletter-heading{
    width: 15%;  
    font-size: 12px;
    font-weight: 700;
}

.newsletter-input{
    border: 0;
    background-image: url("../images/input-box.png");
    min-height: 47px;
    margin-top: 20px;
    margin-right: 20px  ;
}


.newsletter-input::placeholder{
    padding-left: 20px;
    font-size: 10px;
}

.subscribe-button{
    background-color: #212121;
    color: white;
    text-align: center;
    min-height: 47px;
    font-size: 10px;
    margin-top: 20px;
    padding : 0px 20px
}

.post-image , .post-image img{
    max-width: 100%;
    height: auto;
}

.post-image-1 , .post-image-video , .post-image-soundcloud{
    max-width: 100%;
    min-width: 100%;
    height: auto;
}

.post-image-left img, .post-image-mid img, .post-image-right img{
    max-width: 100%;
    min-width: 100%;
    height: auto;
}

.post-image{
    position: relative;
}

.p-logo{
    position: absolute;
    top: 0%;
    right: 0%;
    max-width: 100%;
    height: auto;
}

.picture-logo{
    position: absolute;
    top: 85%;
    right: 45%;
}

.video-icon{
    position: absolute;
    right: 0%;
    top: 0%;
    max-height: 50%
}

.post-content{
    max-width: 100%;
    text-align: center;
    background-color: #f9f9fb;
    padding-bottom: 40px;
    
}

.post-type{
    color : #999999;
    padding-top: 45px;
}

.post-content h3 , .post-content-variant2 h3 {
    padding: 28px 0px;
    font-weight: 800;
    font-size: 14px;
}

.post-date{
    margin-left: 2.28%;
}

.post-info img{
    padding-right: 6px;
}

.post-info{
    font-size: 12px;
    color : #999999;
}

.post-text{
    padding: 36px 0px;
    color : #999999;
}

.post-read-more{
    font-weight: bolder;
    padding: 0px 14px;
}

.post-bottom-nav-left img{
    padding: 0px 8px;
}

.post-bottom-nav-right img{
    padding: 20px 8px;
}

.post-bottom-nav-right a , .post-bottom-nav-left a{
    text-decoration: none;
}

.post-content-variant2{
    max-width: 100%;
    text-align: center;
    background-color: #fff;
    padding-bottom: 40px;
}

.post-bottom-nav-variant2{
    padding-top: 30px;
    max-width: 100%;
    background-color: #fff;
}

.quotation-text{
    padding-top: 24.02%;
    color: #fff;
    text-transform: uppercase;
}

.quotation-author{
    padding-top: 12.01%;
    color: #999999;
    text-transform: uppercase;
}

.quote-icon{
    position: absolute;
    bottom: 95%;
    left: 50%;
}

.second-quotation-text-1{
    color: #fff;
    text-transform: uppercase;
    padding-top: 90px;
}
 
.second-quotation-text-2{
    color: #fff;
    text-transform: uppercase;
    padding-top: 25px;
}
.second-quotation-text-2 a{
    color: #fff;
}

.search-input input{
    border: 0;
    width: 100%;
    min-height: 50px;
    background-image: url("../images/search-background.png");
}

.search-input input::placeholder{
    padding-left: 18px;
}

.search-button{
    width: 16.67%;
    min-height: 50px;
    background-color: black;
    color: #fff;
    float: right;
    text-align: center;
    
}

.search-button img{
    padding-top: 15px;
}

.right-nav-first img , .right-nav-second img{
    max-width: 100%;
    height: auto;
    margin: 0px auto;
}

.right-nav-first-list , .right-nav-second-list{
    max-width: 100%;
}

.text-catagories , .text-latest-post{
    font-weight: 900;
    padding-bottom: 20px;
    font-size: 18px;

}

.text-latest-post{
    font-weight: 900;
    padding: 20px 0px;
    font-size: 18px;
}   

.right-nav-first-list{
    padding-top: 37px;
}

.right-nav-first-list ul{
    width: 50%;
}

.right-nav-first-list-text{
    text-align: start;
}

.right-nav-first-list-number{
    text-align: end;
}

.right-nav-first-list-text li, .right-nav-first-list-number li{
    list-style-type: none;
    font-weight: bold;
    padding: 20px 0px;
}

.right-nav-first-list-text{
    float: left;
}

.right-nav-first-list-number{
    float: right;
}

.social-media-icons{
    text-align: center;
    padding: 36px 0px;
}

.social-media-icons a{
    text-decoration: none;
}

.social-media-icons img{
    padding-right: 36px;
}

.left-arrow{
    position: absolute;
    left: 0%;
    bottom: 100%;
}

.right-arrow{
    position: absolute;
    right: 0%;
    bottom: 100%;
    
}

.join-fb img{
    max-width: 100%;
    height: auto;
}

.about-blog-text{
    padding-top: 40px;
    color: #fff;
    font-weight: bolder;
}

.about-blog-image{
    padding-top: 11px;
    max-width: 100%;
    height: auto;
}

.about-blog-image img{
    max-width: 100%;
    height: auto;
}

.latest-tweets-text , .latest-tweets-account , .latest-comment-author , .latest-comment-comment{
    
    color: #fff;
    font-weight: bolder;
}


.insta-1, .insta-2, .insta-3, .insta-4, .insta-5, .insta-6{
    float: left;
    padding: 1px 1px;
    max-width: 100%;
    height: auto;
}

.about-blog-text, .latest-tweets-account, .latest-tweets-text, .latest-comment-author, .latest-comment-comment{
    font-size: 12px;
}
